@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111827;
}

.gradient-background {
  position: relative;
  width: 100%;
  z-index: 1;
}

.gradient-background::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -50%;
  width: 50%;
  height: 60%;
  border-radius: 50%;
  filter: blur(100px);
  background: radial-gradient(circle at bottom, #b94ced, #7b61ff, #ed1846);
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
}

.gradient-background::after {
  content: "";
  position: absolute;
  top: 20%;
  left: -50%;
  width: 47%;
  height: 45%;
  border-radius: 20%;
  filter: blur(100px);
  background: radial-gradient(circle at right, #b94ced, #7b61ff, #ed1846);
  background-size: 200% 200%;
  animation: gradient-animation 7s ease infinite;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  -webkit-animation: gradient-animation 7s ease infinite;
  -webkit-filter: blur(80px);
}

.gradient-background-2 {
  position: relative;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.gradient-background-2::before {
  content: "";
  position: absolute;
  top: 90%;
  right: -30%;
  width: 50%;
  height: 60%;
  border-radius: 50%;
  filter: blur(100px);
  background: radial-gradient(circle at bottom, #b94ced, #7b61ff, #ed1846);
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
}

.gradient-background-2::after {
  content: "";
  position: absolute;
  top: 90%;
  right: -30%;
  width: 47%;
  height: 45%;
  border-radius: 20%;
  filter: blur(100px);
  background: radial-gradient(circle at right, #b94ced, #7b61ff, #ed1846);
  background-size: 200% 200%;
  animation: gradient-animation 7s ease infinite;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  -webkit-animation: gradient-animation 7s ease infinite;
  -webkit-filter: blur(80px);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
    transform: translateX(20%);
  }

  70% {
    transform: translateX(10%);
  }

  100% {
    background-position: 0% 50%;
    transform: translateX(1%);
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }
}

.timeline {
  position: relative;
  padding-left: 30px; 
}

.timeline p {
  position: relative;
  margin: 20px 0;
  padding-left: 20px;
}

.timeline p::before {
  content: '';
  position: absolute;
  left: -11px;
  top: 50%; 
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background: #B94CED;
  border: 2px solid white;
  border-radius: 50%;
}
